body {
  margin: 0;
  padding: 0;
}
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  color: #fff;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
  padding: 0;
}

/* header */
.header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;

  font-size: 1.2rem;
  font-family: "Barlow Condensed", sans-serif;
  letter-spacing: 2px;

  padding: 40px 0px 48px 60px;
}
.header ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;

  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);

  height: 96px;
  width: 900px;
  margin-left: 60px;
  text-transform: uppercase;
}
.header .padtop {
  padding-right: 50px;
}
.header span {
  font-weight: bold;
  margin-right: 10px;
}
body {
  min-height: 100vh;
  background-color: #000;
  color: #fff;

  background-image: url(../assets/home/background-home-desktop.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* destination-A */

.destination-A .content {
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.page-title {
  padding-bottom: 120px;

  font-family: "Barlow Condensed", sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
  line-height: 33.6%;
  letter-spacing: 4px;
}
.moon-img {
  width: 490px;
  height: 490px;
}
.moon-explanation {
  width: 539px;
}
.destination-tab ul {
  display: flex;
  gap: 30px;

  text-transform: uppercase;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1.3rem;
  line-height: 19.2%;
  letter-spacing: 2px;
}
.destination-tab a {
  color: #d0d6f9;
}
.text h1 {
  font-size: 6.5rem;
  font-family: "Bellefair", sans-serif;
  text-transform: uppercase;
  line-height: 114.6%;
  margin: 50px 0 30px 0;
}
.text p {
  font-size: 1.2rem;
  font-family: "Barlow", sans-serif;
  color: #d0d6f9;
  line-height: 180%;
}
hr {
  color: #fff;
  opacity: 25%;
  margin: 40px 0;
}
.statistics {
  display: flex;
  align-items: center;
  gap: 25px;
}
.statistics h3 {
  font-size: 1rem;
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #d0d6f9;
  margin-bottom: 10px;
}
.statistics h1 {
  font-size: 2rem;
  font-family: "Bellefair", sans-serif;
  text-transform: uppercase;
  color: #fff;
}
.distance-info {
  width: 50%;
}
